body {
    background-color: burlywood;
}

/* Container Styles */

.container {
    width: 80%;
    margin: auto;
    border: 2px solid black;
    background-color: bisque;
    min-height: 97vh;
}

.productCard {
    border: 1px solid black;
    min-width: 17em;
    min-height: 22em;
}

.productInfo {
    padding-left: 1.5em;
}


/* Pages and Grids Styles */

#productGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#detailPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Text Styles */

.title {
    text-align: center;
    background-color: blanchedalmond;
    height: 3em;
    margin: 0;
    padding-top: 1.5em;
}

.subtitle {
    padding-left: 1em;
}

/* Nav & NavLink Styles */

nav {
    background-color: antiquewhite;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    border: 1px solid black;
    text-align: center;
    padding: 1em;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.navLink {
    text-decoration: none;
    color: black;
}

/* Table Styles */

#thankYouTable {
    width: 80%;
    margin: auto;
    background-color: white;
}

table thead, tfoot {
    background-color: black;
    color: white;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

#detailTable {
    width: 100%;
    background-color: white;
}

#detailTable tbody tr:nth-child(even) {
    background-color: grey;
}

#detailTableSection {
    margin-top: 3.5em;
    margin-right: 3em;
}

/* Forms Styles */

#cartEmpty, #searchBarForm {
    grid-column: 2 / 5;
    text-align: center;
}

#searchBar {
    width: 15%;
}

input {
    padding: 1em;
}


/* Button Styles */

.cartButton {
    margin-left: 1.80em;
    margin-top: .5em;
    margin-bottom: 1em;
}

.alignButton {
    margin: 1em;
    margin-left: 2em;
    padding: .5em;
}

/* Random Styles */

#total {
    padding-left: 2em;
}

#finalPrice {
    text-align: right;
    padding-right:1em;
}

#searchProduct {
    width: max-content;
    margin: auto;
    margin-top: 2em;
}

.prodMsg {
    padding-left: 1.75em;
}

#cartMSG {
    padding-left: 2em;
}
/* PLACEHOLDERS */

.productImg {
    background-color:whitesmoke;
    width: 14rem;
    height: 14rem;
    margin: 1.90em;
    border-radius: 1em;
    margin-top: 1em;
}

.productDetailImg {
    background-color:whitesmoke;
    width: 30rem;
    height: 30rem;
    margin: 8%;
    border-radius: 1em;
    margin-top: 3.5em;
}